body{
    background:linear-gradient(150deg,#00feba,#5b548a);
    color: black;
}
.title{
    text-align: center;
    color:black;
    font-size: xx-large;
    
}

.card{
    text-align: center;
    margin: 90px;
    height: 2800px;
}
.img{
    margin: 40px;
    height: 100px;
    width: min-content;
    margin-right: 280px;
    margin-bottom: 20px;
    margin-top: -80px;
}
.h{
    margin-top:80px ;
}
.img2{
    margin: 40px;
    height: 100px;
    width: min-content;
    margin-right: 480px;
    margin-top: -80px;
    
}
