body{
    background:linear-gradient(135deg,#00feba,#5b548a);
    color: black;
}
.title{
    text-align: center;
    color:black;
    font-size: xx-large;
    
}
.btn{
    height: 40px;
    width: 4px;
}
